<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
    <title th:text="#{label.pages.home.title}">home</title>
</head>
<body>
<div>

    <h1 class="alert alert-info" th:text="#{message.regSucc}">success</h1>
    <br/>
    <span th:if="${param.token != null}" th:text="#{token.message}">token</span>
    <span th:text="${param.token}">token</span>
    <br/>
    <a class="btn btn-primary" th:href="@{/login}" th:text="#{label.login}">login</a>
</div>
</body>
</html>